* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.player1Container {
    border: 1px solid;
}

.playerSelectionContainer {
    border: 1px solid;
}

.player2Container {
    border: 1px solid;
}