* {
    box-sizing: border-box;
}

@font-face {
    font-family: ss4;
    src: url(Font/SSF4.ttf)
}
@font-face {
    font-family: fighting;
    src: url(Font/Fighting.TTF)
}
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/*****************  player selection modal ******************/

.modalContainer {
    height: 100vh;
    width: 100vw;
    transition-duration:
    /*display: none;*/
}

.playerContainer {
    border: 1px solid black;
    height: 100vh;
    width: 33vw;
    display: inline-block;
    vertical-align: top;
    position: relative;
    background-image: none;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

/*.playerPhotoLarge {*/
    /*height: 65vh;*/
    /*position: absolute;*/
    /*top: 50%;*/
    /*left: 50%;*/
    /*transform: translate(-50%, -50%) scaleX(-1);*/
/*}*/

/*.playerPhotoLeft, .playerPhotoRight {*/
    /*background-image: none;*/
    /*background-repeat: no-repeat;*/
    /*background-size: contain;*/
    /*background-position: center;*/
/*}*/

.playerPhotoLeft {
    transform: scaleX(-1);
}

.playerSelectionContainer {
    border: 1px solid;
    height: 100vh;
    width: 60vh;
    display: inline-block;
    vertical-align: top;
    background-repeat: no-repeat;
}

.row {
    width: 100%;
    height: 16.6%;
    text-align: center;
}

.title {
    margin: 0;
    font-family: ss4;
    padding: 3% 0;
    font-size: 2.5em;
    color: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
}

.playerAvatar {
    border: 1px solid;
    display: inline-block;
    width: 33.3%;
    height: 100%;
    float: left;
}

.playerAvatar:hover {
    box-shadow: inset 0 0 20px red;
}

.playerAvatarClicked {
    box-shadow: inset 0 0 20px red;
}

.playButton {
    width: 100%;
    height: 100%;
    font-family: ss4;
    font-size: 3em;
}

.playButton:focus {
    outline: 0;
}

#ironman, #libertybell, #batman, #juggernaut, #mrfantastic, #mrsinister, #thor, #wolverine, #robin, #nightcrawler, #superman, #thething {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#ironman {
    background-image: url('images/avatars/ironman.jpg');
}

#libertybelle {
    background-image: url('images/avatars/liberty-belle.jpg');
}

#batman {
    background-image: url('images/avatars/batman.jpg');
}

#juggernaut {
    background-image: url('images/avatars/juggernaut.jpg');
}

#mrfantastic {
    background-image: url('images/avatars/mr-fantastic.jpg');
}

#mrsinister {
    background-image: url('images/avatars/mr-sinister.jpg');
}

#thor {
    background-image: url('images/avatars/thor.jpg');
}

#wolverine {
    background-image: url('images/avatars/wolverine.jpg');
}

#robin {
    background-image: url('images/avatars/robin.jpg');
}

#nightcrawler {
    background-image: url('images/avatars/nightcrawler.jpg');
}

#superman {
    background-image: url('images/avatars/superman.jpg');
}

#thething {
    background-image: url('images/avatars/thing.jpg');
}






/************************** gameboard ****************************/

.gameBoard {
    height: 100vh;
    width: 100vw;
    display: none;
}

.hitPoints {
  width: 100%;
  height: 100%;
  background-color: red;

}

.statsContainer {
    height: 15vh;
    width: 101vw;
}

.hitPointsContainerLeft, .hitPointsContainerRight {
    width: 40vw;
    height: 8vh;
    border: 4px solid yellow;
    position: absolute;
    top: 3%;
}

.hitPointsContainerLeft {
    left: 0.5vw;


}

.hitPointsContainerRight {
    right: 0.5vw;
    transition: 2s;
}

.timer {
    height: 14vh;
    width: 12vw;
    border: 8px solid black;
    position: absolute;
    top: 1.75%;
    left: 50%;
    transform: translateX(-50%);
    font-family: fighting;
    background-color: white;
    color: blue;
    font-size: 4vh;
    text-align: center;
}

.player1, .player2 {
    height: 85vh;
    width: 25vw;
    border: 1px solid;
    position: absolute;
    top: 58%;
    transform: translate(-50%, -50%);
}

.player1 {
    left: 13vw;
}

.player2 {
    left: 87vw;
}

.questionModal {
    width: 45vw;
    height: 35vw;
    border: 1px solid;
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: sans-serif;
}

.questionContainer {
    width: 90%;
    height: 40%;
    border: 1px solid;
    margin: 5% auto;
    font-size: 1.5vw;
}

.answer {
    width: 45%;
    height: 20%;
    border: 1px solid;
    display: inline-block;
    box-sizing: border-box;
    padding-top: 5%;
}
.answer:hover{
    background-color: lightpink;
}

.category{
    display: block;
    position: relative;
    top: 50px;
    opacity: 0.5;
}




/*************************** winner modal **************************/

.winnerModal {
    height: 100vh;
    width: 100vw;
    border: 1px solid black;
    display: none;

}

.modal{
    border: 1px solid black;
}


.winningCharacter{
    top: 10%;
    left: 10%;
    width: 25vw;
    height: 70vh;
    border: 1px solid;
    position: absolute;
    background-image: url("images/characters/batman.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.winningCharacter img{
    width: 100%;
    height: 100%;

}

.chuckNorrisQuote{
    top: 35%;
    left: 40%;
    width: 50vw;
    height: 30vh;
    border: 1px solid;
    position: absolute;
}

.chuckNorrisQuote p{
    margin: 0 auto;
    font-size: 5vmin;
}

.restart {
    border: 1px solid black;
    top: 70%;
    left: 80%;
    width: 10vw;
    height: 5vh;
    position: absolute;
}

.playAgain{
    width: 100%;
    height: 100%;
}

/*********************** Ready modal ************************/

.readyBanner {
  width: 100vw;
  height: 25vh;
  border-top: 7px solid darkred;
  border-bottom: 7px solid darkred;
  background-color: red;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: none;
  box-shadow: 0px 0px 120px black;
}

.readyButton {
  width: 40vh;
  height: 30vh;
  border: 7px solid darkred;
  background-color: red;
  border-radius: 47%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: white;
  font-family: fighting, ss4;
  text-align: center;
  padding-top: 0vh;
  font-size: 11vh;
  text-shadow: 3px 3px 13px black;
  box-shadow: 0px 0px 60px black;
  user-select: none;
  cursor: pointer;
}

.readyButton:hover {
  border: 7px solid yellow;
}
